<div class="container">
  <div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>
      <form (ngSubmit)="addPayment()">
        <div class='form-group'>
          <div class='col-xs-12 form-group required'>
            <label class='control-label'>Email</label>
            <input class='form-control' type='email' name="email" [(ngModel)]="email">
          </div>
        </div>
        <div class='form-group'>
          <div class='col-xs-12 form-group required'>
            <label class='control-label'>Amount</label>
            <input class='form-control' autocomplete='off' type='number' name="amount" [(ngModel)]="amount">
          </div>
        </div>
        <div class='form-group'>
          <div class='col-xs-12 form-group card required'>
            <label class='control-label'>Card Number</label>
            <input autocomplete='off' class='form-control card-text' type='number' name="card_number" [(ngModel)]="card_number">
          </div>
        </div>
        <div class='form-group'>
          <div class='col-xs-4 form-group cvc required'>
            <label class='control-label'>CVC</label>
            <input autocomplete='off' class='form-control card-cvc' name="cvc" [(ngModel)]="cvc" placeholder='ex. 311' type='number'>
          </div>
          <div class='col-xs-4 form-group expiration required'>
            <label class='control-label'>Exp_month</label>
            <input class='form-control card-expiry-month' placeholder='MM' type='number' name="exp_month" [(ngModel)]="exp_month">
          </div>
          <div class='col-xs-4 form-group expiration required'>
            <label class='control-label'>Exp_year </label>
            <input class='form-control card-expiry-year' placeholder='YYYY' name="exp_year" [(ngModel)]="exp_year" type='number'>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-12 form-group'>
            <button class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>